/ANATOMIA CLASE I.ppt
/Bloc de notas de Alejandra.url
/Blocs de notas de OneNote
/clase.url
/desktop.ini
/Estados Financieros de Emprendimiento.xlsx
/Estados Financieros Emprendimiento.xlsx
/INFORME DE CIERRE Carlos Olaya.docx
/Instituto Dante Alighieri.docx
/INSTITUTO TÉCNICO DANTE ALIGHIERI TALLER DE RECUPERACIÓN.docx
/KingsoftData
/Nicolle.docx
/Plantillas personalizadas de Office
/Solución de Caso.docx
/Taller Esterilizacion.docx